@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
 @font-face {
  font-family:'Game of thrones';
  src: url(../fonts/got.ttf);
}

/*-------------------[ Global : Base ]-------------------*/
 body, .pure-g-r[class *="pure-u"] {
  font-family:'Source Sans Pro', sans-serif !important;
}
body {
  color: #333;
}
.wrap {
  padding: 0 15px;
}
.text-center{
  text-align: center;
}
a{
  text-decoration: none;
  color: inherit;
}
.button-error {
  background: rgb(202, 60, 60);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  text-shadow:none;
}

/*-------------------[ Global : Menu ]-------------------*/
#menu {
  background: #212121;
}
#menu .logo {
  height: 80px;
  width: 80px;
  margin:20px auto 0;
  display: block;
}
#menu .pure-menu-heading {
  font-size: 110%;
  color: #dfdfdf;
  margin: 0;
  font-size: 25px;
  text-align: center;
  padding: 0 0 20px;
  border-bottom:solid 1px #272727;
}
#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}
#menu .pure-menu li a {
  text-align: right;
  color: #999;
  border: none;
  padding: 0.8em 2.8em 0.8em 0;
  border-bottom:1px solid #272727
}
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #272727;
}
#menu .pure-menu-selected {
  background: #272727;
}
#menu .pure-menu-selected a {
  color: #fff;
}
#menu .author{
  text-align: right;
  box-sizing:border-box;
  padding: 10px 20px 30px;
  font-style: italic;
  color: #444;
  bottom: 0;
  position: absolute;
  width: 100%;
}
#menu .author a{
  display: inline;
  border: 0;
  color: #999;
  padding: 0;
}
#menu .author a:hover{
  color: #ccc;
}

/*-------------------[ Global : Main Head ]-------------------*/
 .main-head {
  padding: 15px;
  background-color: #fff;
  border-bottom: solid 1px #eee;
  margin-bottom: 20px;
}
.main-head .title {
  font-size: 20px;
  font-weight: lighter;
}


/*-------------------[ Modules : Home Page  ]-------------------*/

.home-blade{
  max-height: 300px;
  padding-top: 40px;
}
.home-title {
  font-family:'Game of thrones';
  color: #222;
  margin-top:-5px;
  padding: 0px 0px 20px;
  font-size: 40px;
  letter-spacing: 0.2em;
  text-align: center;
}
.home-text{
  padding: 0 15px;
  text-align: center;
  font-size: 18px;
  max-width: 700px;
  margin: 0 auto;
}
.home-btn{
  margin-top: 20px;
  font-size: 20px;
}
.fame{
  padding-top: 30px;
}
.fame .iframe{
  display: inline-block;
}

/*-------------------[ Global : Boilerplate Grid ]-------------------*/
 .grid-wrap {
  padding: 0 15px;
}
.thumnail {
  margin: 0 auto;
  border-radius: 1.4%;
  margin: 15px;
  padding: 15px;
  color: #777;
  display: block;
  border:solid 1px #e8e8e8;
  text-decoration: none;
  background-image: url(../img/code_bg.png);
  background-size: cover;
  line-height: 1.4em;
  min-height: 252px
}
.thumnail p{
  min-height: 100px
}
.thumnail .title {
  font-size: 24px;
  font-weight: 900;
  color: #22313F;
  padding-bottom: 10px;
  display: block;
}
/*-------------------[ Module : oath ]-------------------*/
 .oathwrap {
  padding: 0 15px;
}
.oaths {
  color: #555;
  font-size: 17px;
  line-height: 30px;
}
.oaths li {
}

/*-------------------[ Module : Tips page ]-------------------*/
 .tip-thumnail {
  margin: 0 auto;
  border-radius: 1.4%;
  padding: 30px 0;
  color: #777;
  display: block;
  text-decoration: none;
  border-bottom: solid 1px #eee;
  max-width: 900px;
}
.tip-thumnail .title {
  font-size: 25px;
  font-weight: 500;
  color: #02111F;
  padding-bottom: 10px;
  text-decoration: none;
  display: block;
}
.tip-thumnail .title:hover {
  color: #000;
}
.tip-wrap {
  padding: 0 20px;
}
